#root{
  background-color: #e0e0e0 ;
}
.App {
  height: 100vh;
}
.headerBar{
  height: 4rem;
}
.headerIcon{
  font-size: 1.5em;
}
.Content{
  height: calc(100vh - 4rem);
}
.Menu{
  width: 200px !important;
  max-width: 200px !important;
}
.btnLogo{
  height: 4rem;
  width: 4rem;
}


.inputform{
  text-align: center;
  height: 100vh;
}

.inputBody{
  width: 300px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.inputform::before{
  content: "";
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
}